@import './scss/fix';
@import './scss/variables';
@import './scss/mixings';
@import './scss/_form-elements';
@import './scss/typography';

@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  background: $dark-color;
  color: $text-color;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include screen(small) {
  }
  @include screen(medium) {
  }
}
form {
  input.error {
    border-color: orangered;
  }
  small {
    color: orangered;
  }
}
main {
  padding: 3em 15px 4em 15px;
  background: $light-color;
  border-top: 1px solid darken($light-color, 20%);
  a,
  a:visited {
    color: $accent-color;
    text-decoration: none;
  }
  img {
    @include box-shadow(1);
    margin-bottom: 2em;
  }
}

header,
footer {
  padding: 1rem 15px;
  color: #000;
  a,
  a:visited {
    text-decoration: none;
    color: $accent-color;
  }
}

$header-border: 8px;
header {
  nav {
    display: flex;
    justify-content: space-between;
    > div {
      text-align: right;
      line-height: 1.2;
    }
  }
  ul {
    display: flex;
    align-items: center;
  }

  li {
    padding-right: 0.5em;
    &:last-child {
      padding-right: 0;
    }
  }
  a,
  a:visited {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8em;
  }
  a.logo {
    display: block;
    line-height: 1;
    font-size: 24px;
    font-weight: 700;
    color: #000;
    svg {
      margin-right: 5px;
      position: relative;
      top: 3px;
    }
    em {
      font-style: normal;
      color: lighten(#000, 60%);
    }
    span {
      display: none;
      @include screen(small) {
        display: inline;
      }
    }
  }
  .user {
    text-transform: uppercase;
    font-size: 0.7em;
    color: #999;
    span {
      color: #000;
    }
  }
}
main.grid {
  text-align: center;
  padding: 3em 15px 0 15px;
  li {
    margin-bottom: 3rem;
  }
  h2 {
    margin: 0.25rem 0 0 0;
  }
  span {
    text-transform: uppercase;
  }

  ul.grid {
    padding-bottom: 2em;
    @include screen(small) {
      padding-bottom: 0;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
    }
    @include screen(medium) {
      // background: lightsalmon;
    }
    @include screen(large) {
      // background: lightslategrey;
    }
    font-size: 0.6em;
    a,
    a:visited {
      text-decoration: none;
      color: inherit;
      position: relative;
      display: inline-block;
      .icon {
        position: absolute;
        right: 0.45rem;
        bottom: 0.45rem;
        transition: opacity 0.25s;
        @include screen(large) {
          opacity: 0;
        }
      }
      &:hover {
        .icon {
          opacity: 1;
        }
      }
    }
    img {
      margin-bottom: 0;
    }
  }
  ul > li {
    @include screen(small) {
      flex: 0 1 46%;
    }
    @include screen(medium) {
      flex: 0 1 31%;
    }
    @include screen(large) {
      flex: 0 1 23%;
    }
  }
}
main.single {
  text-align: left;
  .content {
    > div:nth-child(1) {
      text-align: center;
    }
  }
  @include screen(small) {
    .content {
      display: flex;
      > div:nth-child(1) {
        flex: 1 0 auto;
        padding: 1em;
      }
      > div:nth-child(2) {
        flex: 1 1auto;
        padding: 1em;
      }
    }
  }
  span.artist {
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: 700;
    display: inline-block;
    margin-bottom: 1em;
  }
}

.content,
ul.grid,
nav,
footer > * {
  max-width: 1200px;
  margin: 0 auto;
}
main.form {
  .content {
    max-width: 600px;
  }
  h1 {
    margin-bottom: 1rem;
  }
  label {
    display: block;
    padding: 0 0 0.25em 8px;
    font-size: 0.7em;
    text-transform: uppercase;
  }
}

.back-btn {
  float: right;
  display: inline-flex;
  align-items: center;
  padding: 0.5em 1.25em 0.5em 0.75em;
  svg {
    transform: scale(0.7);
    path {
      fill: #fff;
    }
  }
}
div.info {
  margin-bottom: 3em;
  color: #888;
  font-size: 0.9em;
  p {
    margin-bottom: 0.25em;
  }
}
